body {
    text-align: center;
    font-family: Palatino Linotype;
    background: linear-gradient(to right, #ccffff 0%, #9900cc 71%);

}

h1 {
    font-size: 70px;
    text-shadow: 3px 2px purple;
    
    margin: 0.2em;
}

h2 {
    margin: 2em 0 0.25em; 
}

h2:first-of-type {
    margin-top: 0.5em;
    top: -50px;

}


form{
    margin-top: 2em;
}




table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
    position: relative;
    

}

tr {
    height: 30px;
}

td {
    width: 30px;
}

input[type=number] {
    width: 6em;
}

